#color{
    background-color: aqua;
}
#red{
    background-color: red;
}
#pink{
    background-color: pink;
}
#sentences{
    font-size: 20px;
}
#font_1{
    font-size: 30px;
}
#font_2{
    font-size: 40px;
}
#font_3{
    font-size: 50px;
}